# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
pip-log.txt
pip-delete-this-arg.txt

# Streamlit specific
.streamlit/secrets.toml
# .streamlit/*.toml

# Operating System specific
.DS_Store # macOS
Thumbs.db # Windows